
:root{
    --main-blue: rgb(31, 49, 109);
    --white: rgb(230, 230, 230);
    --yellow: #6d5b1f; 
    --second-blue: #3757c2; 
    --black: rgb(39, 39, 39); 
    --grey: #2b323a; 
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: var(--white);
}

html{
    scroll-behavior: smooth;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    top: 0; 
    left: 0;
    background-color: var(--main-blue);
    
}

.nav-link{
    text-decoration: none;
    font-size: 20px;
}

li{
    list-style: none;
    padding: 20px;
}

nav{
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    
}

#welcome-section{
    background: linear-gradient(
        120deg,
        rgb(20, 21, 24)0%,
        rgb(58, 58, 63)100%
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-size: 35px;
}


li a:hover{
    color: var(--second-blue); 
}

#welcome-p{
    color: var(--second-blue); 
    font-style: italic;
    font-size: 25px;
}

#projects{
    background-color: var(--second-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#projects h2{
    padding-top: 70px;
    font-size: 35px;
    padding-bottom: 20px;
}

.project-img{
    height: calc(100% - 50px);
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#project-grid{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 20px auto 50px auto;
}

.links{
    background-color: var(--grey);
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
}

.project-text{
    background-color: var(--grey);
    padding: 10px;
    font-size: 19px;
}

.code{
    color: var(--grey);
    transition: color 0.3s ease-out;
}

.links:hover .code {
    color: var(--second-blue);
}

.link-show{
    background-color: #2b323a;
    padding: 10px;
    font-size: 19px;
    margin-bottom: 50px;
    text-decoration: none;
    transition: background 0.3s ease-out;
    border-radius: 5px;
}


.link-show:hover{
    background: var(--main-blue);
}

.contact-section{
    background: var(--grey);
    text-align: center;
    width: 100%;
    height: 60vh;
}

.contact-section h2{
    font-size: 50px;
    padding-top: 200px;
}

.contact-details{
    text-decoration: none;
    font-size: 20px;
    text-shadow: 2px 2px 1px #1f1f1f;
    margin: 10px;
    transition: transform 0.3s ease-out;
}

.contact-details:hover {
    transform: translateY(8px);
}


.icons{
    width: 20px;
    height: 20px;
    color: var(--white);
}

.icon{
    height: 24px;
    margin-bottom: -5px;
}

.contact-links{
    margin-top: 10px;
}

.sub{
    font-style: italic;
    color: var(--second-blue);
    font-size: 17px;
}

footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--grey);
    border-top: var(--second-blue) 4px solid;
}

footer p{
    margin: 30px;
}

@media(max-width: 550px){
    ul{
        justify-content: center;
    }
}